div.sign-buttons.signup > button:last-child {
    background-color: #007bff;;
}

form.signup-form {
    border-radius: 6px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    min-width: 400px;
    max-width: 90vw;
    margin: auto;
    padding: 24px;
    color: white;
    background-color: #242A54CC;
    flex-shrink: 0;
}

form.signup-form > h2 {
    margin: 0px;
}

form.signup-form > label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    text-align: left;
}

form.signup-form > label > input {
    padding: 10px 12px;
    font-size: 15px;
    border: 0px;
    border-radius: 6px;
    background-color: #575D86;
    color: white;
    outline: none;
}

form.signup-form > button {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    background-color: #465194;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
}
